# Python binaries
*.pyc
__pycache__/

# IDE
.idea/
.vscode/
.mypy_cache/

# Data sets
data/

# Environment variables
.env

# Cache
cache/*
stanford_*
bisbi-cache/
output

# Temp dirs and results
results/
tmp/

# Jupyter
.ipynb_checkpoints/
